<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=firefox">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Javier Corti">
        <meta name="description" content="Web site created by Javier">
        <link rel="shortcut icon" href="icon/rust.png" type="icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" >
        <link rel="stylesheet" href="/templates/empleados/styles.css">
        <script src="https://kit.fontawesome.com/11e5ac05a3.js" crossorigin="anonymous"></script>
        <!-- Complementos para el envio de email -->
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
    </script>
    <!-- <script type="text/javascript">
        (function(){
            emailjs.init("bDP4wAfrljutc27Hv");
        })();
    </script> -->
    <script src="https://smtpjs.com/v3/smtp.js"></script>
        <title>👨‍💻 Codo A Codo: CRUD 👩‍💻</title>
    </head>
<body>
    <h1>Hello world</h1>
    <form action="/add_contact" method="POST" id="form">
        <input type="text" name="name" id="name" class="name" placeholder="Nombre y Apellido">
            <label for=""></label>
        <input type="email" name="email" id="email" class="email" placeholder="Email" >
            <label for=""></label>
        <textarea  name="foto" id="foto" class="foto" placeholder="Foto"></textarea>
            <label for=""></label>
        <button class="button" type="submit">Enviar</button>
            <p class="warnings" id="warnings"></p>
        <input type="hidden" name="_next" value="https://codeninja-codoacodo.netlify.app/">
        <input type="hidden" name="_captcha" value="false">
    </form>
</body>
</html>