{% extends '/empleados/layout.html' %}
{% block body %}
    {% with messages=get_flashed_messages() %}
    {% if messages %}
    {% for messages in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{messages}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    
    <form action="/add_employee" enctype="multipart/form-data" method="POST" id="form">
        <input type="text" name="name" id="name" class="name" placeholder="Nombre y Apellido">
            <label for=""></label>
        <input type="email" name="email" id="email" class="email" placeholder="Email" >
            <label for=""></label>
        <input type="file"  name="foto" id="foto" class="foto" placeholder="Foto"></input>
            <label for=""></label>
        <button class="button" type="submit">Cargar</button>
            <p class="warnings" id="warnings"></p>
        <input type="hidden" name="_next" value="">
        <input type="hidden" name="_captcha" value="false">
    </form>
    <table id='tabla'>
        <thread>
            <tr>
                <td><strong>Foto</strong></td>
                <td><strong>Nombre y Apellido</strong></td>
                <td><strong>Email</strong></td>
            </tr>
        </thread>
        <tbody id='respuesta'>
            {% for employees in employees%}
                <tr>
                    <td><img width="30" src="uploads/{{employees.3}}" alt="Foto del empleado"></td>
                    <td>{{employees.1}}</td>
                    <td>{{employees.2}}</td>
                    <td>
                        <a href='/edit/{{employees.0}}' class='btn btn-secondary'>Editar</a>
                        <a href='/delete/{{employees.0}}' class='btn btn-danger'>Borrar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock body %}